<h1><%= @menu_category.name %></h1>
<p>
  <b>Menu Items</b>
  <ul>
    <% @menu_category.menu_items.each do |menu_item| %>
      <li><%= link_to menu_item.name, [@menu_category.restaurant, @menu_category, menu_item] %> <%= menu_item.price %>ì›</li>
    <% end %>
  </ul>
  <% if is_user? && current_user == @menu_category.user %>
    <%= link_to "New Menu Item", new_restaurant_menu_category_menu_item_path(@menu_category.restaurant, @menu_category) %>
  <% end %>
</p>

<% if is_user? && current_user == @menu_category.user %>
  <%= link_to 'Edit', edit_restaurant_menu_category_path(@menu_category.restaurant, @menu_category) %> |
<% end %>
<%= link_to 'Back', @menu_category.restaurant %>
