<div>
  <% if @restaurant.nil? %>
    <p><%= link_to "Create Restaurant", new_restaurant_path %></p>
  <% else %>
    <h1><%= @restaurant.name %></h1>
    <p class="restaurant_description"><%= @restaurant.description %></p>
    <p>
      <% @restaurant.images.each do |image| %>
        <%= image_tag image.image_url %>
      <% end %>
    </p>
    <p><%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %></p>
    <p>
      <b>Menu Categories</b>
      <ul>
        <% @restaurant.menu_categories.each do |menu_category| %>
          <li><%= link_to menu_category.name, [@restaurant, menu_category] %></li>
        <% end %>
      </ul>
      <%= link_to "New Menu Category", new_restaurant_menu_category_path(@restaurant) %>
    </p>
  <% end %>
</div>