<!DOCTYPE html>
<html>
<head>
  <title>Ristoran8</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= jquery_include_tag :google %>
<%= javascript_include_tag "application" %>

</body>
</html>
